<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz de Orientare Profesionala</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Gaseste-ti Jobul Potrivit</h1>
    <form th:action="@{/quiz/{studentId}/submit(studentId=${studentId})}" method="post">
        <!-- Question 1: Domain -->
        <div class="form-group">
            <label>1. Ce domeniu te atrage cel mai mult?</label><br>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answers[0]" value="IT" required>
                <label class="form-check-label">IT & Software</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answers[0]" value="Constructii">
                <label class="form-check-label">Constructii & Arhitectura</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answers[0]" value="Electrica">
                <label class="form-check-label">Inginerie Electrica & Automatica</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answers[0]" value="Gaming">
                <label class="form-check-label">Gaming & Divertisment</label>
            </div>
        </div>

        <!-- Question 2: Schedule -->
        <div class="form-group">
            <label>2. Ce program de lucru preferi?</label><br>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answers[1]" value="Dimineata" required>
                <label class="form-check-label">Dimineata (e.g., 09:00 - 17:00)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answers[1]" value="Dupa-amiaza">
                <label class="form-check-label">Dupa-amiaza (e.g., 14:00 - 22:00)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answers[1]" value="Noaptea">
                <label class="form-check-label">Noaptea (e.g., 22:00 - 06:00)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answers[1]" value="Flexibil">
                <label class="form-check-label">Program flexibil / Remote</label>
            </div>
        </div>

        <!-- Question 3: Work Environment -->
        <div class="form-group">
            <label>3. Ce mediu de lucru preferi?</label><br>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answers[2]" value="Birou" required>
                <label class="form-check-label">La birou</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answers[2]" value="Remote">
                <label class="form-check-label">Remote (de acasa)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answers[2]" value="Hibrid">
                <label class="form-check-label">Hibrid (birou si remote)</label>
            </div>
        </div>

        <!-- Question 4: Company Type -->
        <div class="form-group">
            <label>4. Ce tip de companie preferi?</label><br>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answers[3]" value="Start-up" required>
                <label class="form-check-label">Start-up (ritm alert, inovatie)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answers[3]" value="Corporatie">
                <label class="form-check-label">Corporatie (stabilitate, procese clare)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answers[3]" value="Guvernamentala">
                <label class="form-check-label">Guvernamentala / Institutie publica</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Trimite Raspunsurile</button>
    </form>
</div>
</body>
</html>